<span>What did you do today?</span>
<div class="content-wrapper">
  <div class="activities">
    <div *ngFor="let activity of activities" class="activity-button">
      <!-- <div>
        <button
        [ngClass]="activity.selected ? 'success' : 'danger'"
        (click)="activityClick($event, activity)"
        mat-icon-button class="round-icon">
          <mat-icon>
            {{activity.icon}}
          </mat-icon>
        </button>
      </div>
      <div class="activity-label">
      <span >{{activity.name}}</span>
    </div> -->
    <app-tracking-item [trackingItem]="activity"></app-tracking-item>
    </div>
  </div>
</div>