<!--The content below is only a placeholder and can be replaced.-->
<div class="content-wrapper">
  <router-outlet></router-outlet>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Plan
      </ng-template>
      <div class="widget-tab">
        <app-planning></app-planning>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Monitor
      </ng-template>
      <div class="widget-tab">
        <app-mood></app-mood>
        <mat-divider></mat-divider>
        <app-rating-page></app-rating-page>
        <mat-divider></mat-divider>
        <app-reason></app-reason>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Reflect
      </ng-template>
      <div class="widget-tab">
        <app-track-activities></app-track-activities>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>