<div class="container pt-2 pb-2" *ngIf="weeklyPlan$ | async as plan">

  <div class="card">
    <div class="card-body row align-items-center justify-content-center">
      <mat-form-field>
        <textarea 
        class="learning-goal"
        (change)="onLearningGoalChange($event)"
        matInput placeholder="My learning goal for this week is..." [(ngModel)]="weeklyPlan.learningGoal"></textarea>
      </mat-form-field>
    </div>

  </div>
  <mat-divider class="pt-1 pb-1"></mat-divider>
  <div class="col-md-8 offset-md-2 pt-4 card">
    <div class="descriptive-header mb-2 text-center">
      Daily Time Investment
    </div>

    <div class="container mt-2">
      <app-weekday (timeValueChange)="onTimeValueChange($event)" name="Mon" [dailyPlan]="weeklyPlan.dailyPlans[0]"></app-weekday>
      <app-weekday (timeValueChange)="onTimeValueChange($event)" name="Tue" [dailyPlan]="weeklyPlan.dailyPlans[1]"></app-weekday>
      <app-weekday (timeValueChange)="onTimeValueChange($event)" name="Wed" [dailyPlan]="weeklyPlan.dailyPlans[2]"></app-weekday>
      <app-weekday (timeValueChange)="onTimeValueChange($event)" name="Thu" [dailyPlan]="weeklyPlan.dailyPlans[3]"></app-weekday>
      <app-weekday (timeValueChange)="onTimeValueChange($event)" name="Fri" [dailyPlan]="weeklyPlan.dailyPlans[4]"></app-weekday>
      <app-weekday (timeValueChange)="onTimeValueChange($event)" name="Sat" [dailyPlan]="weeklyPlan.dailyPlans[5]"></app-weekday>
      <app-weekday (timeValueChange)="onTimeValueChange($event)" name="Sun" [dailyPlan]="weeklyPlan.dailyPlans[6]"></app-weekday>
    </div>





    <!-- <div class="col-md-8 offset-md-2 descriptive-header text-center">
      How many hours do you want to invest <b>this week</b>?
    </div> -->
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <b>Total:</b>
        <mat-form-field class="weekly-hours-input">
          <input type="tel" onClick="this.select();" [(ngModel)]="weeklyPlan.plannedHours" matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- <button mat-raised-button class="btn-block" (click)="submitPlan()" color="primary">Submit</button> -->

</div>