<div class="container week-selection bg-primary text-white">
  <div class="row justify-content-center">
    <app-week-selection></app-week-selection>
  </div>
</div>

<mat-tab-group 
color="accent" mat-stretch-tabs [selectedIndex]="1">
  <mat-tab>
    <ng-template mat-tab-label>
      Plan
    </ng-template>
    <div class="widget-tab">
      <app-planning></app-planning>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Monitor
    </ng-template>
    <div class="widget-tab">
      <app-monitor-page></app-monitor-page>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Reflect
    </ng-template>
    <div class="widget-tab">
      <app-reflection-page></app-reflection-page>
    </div>
  </mat-tab>

  <footer class="footer">
    <div class="container">

    </div>
  </footer>

</mat-tab-group>