<div class="container" *ngIf="weeklyPlan$ | async as plan">

    <mat-tab-group [selectedIndex]="3">
        <mat-tab class="mat-tab-label-narrow">
            <ng-template mat-tab-label>
                <div (click)="daySelect(0)">Mon</div>
            </ng-template>
        </mat-tab>
        <mat-tab class="mat-tab-label-narrow">
            <ng-template mat-tab-label>
                <div (click)="daySelect(1)">Tue</div>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div (click)="daySelect(2)">Wed</div>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div (click)="daySelect(3)">Thu</div>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div (click)="daySelect(4)">Fri</div>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div (click)="daySelect(5)">Sat</div>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div (click)="daySelect(6)">Sun</div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

    <span>{{selectedDay}}</span>

    <mat-divider></mat-divider>
    <app-rating-page [dailyPlan]="plan.plannedTimeByDays[selectedDay]"></app-rating-page>
    <mat-divider></mat-divider>
    <app-reason [dailyPlan]="plan.plannedTimeByDays[selectedDay]"></app-reason>


    <button class="btn-block fixed-bottom btn-primary" (click)="submitMonitor()" color="primary">Submit</button>
</div>